{% extends 'book/base.html' %}
{% load staticfiles %}
<html>

    <head>

    </head>
    <body>
{% block body %}
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm" />
    </form>
{% endblock %}

    </body>
</html>