{% extends 'book/base.html' %}
{% load staticfiles %}
<html>

    <head>

    </head>
    <body>

        {% block body %}
            <h1>Name : {{ object.name }}</h1>
            <h1>Author: {{ object.author }}</h1>
            <h1>Price: $ {{ object.price }}</h1>
            <img src="{{ object.image }}">


        {% endblock %}

    </body>
</html>