{% extends 'book/base.html' %}
{% load staticfiles %}
<html>

    <head>

    </head>
    <body>


        {% block body %}
        {% for book in object_list %}
            <img src="{{ book.image }}">
            <a href="{% url 'books:detail' book.id %}"><h1>{{ book.name }}</h1></a>
            <br>
        {% endfor %}
        {% endblock %}

    </body>
</html>